
footer{
	width:100%;
	text-align:left;
	background:$color_titulo;
	position:relative;
	margin-top:3em;
	 a{
		color:#fff;
		text-decoration: none;
		&:hover{
			color:#fff;
			text-decoration: underline;
		}
	}

	 .texto{
		float:left;
		margin:2em 0 1em 0;
		li{
			float:left;
			font-size:1.1em;
			border-left:1px solid #fff;
			padding:0 10px;
			&:first-child{
				padding-left:0;
				border-left:0;
			}
		}
	}

}


